<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Kooky Cards</a>
  <a routerLink="/" routerLinkActive="active" hidden>Home</a>
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/yeet-center" routerLinkActive="active">Yeet Center</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cards" routerLinkActive="active">Cards</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


